.contact-section__official-adress{
    margin-top: 32px;
    margin-bottom: 32px;
  background-color: white;
  border: 3px solid {{farba_projektu}};
  padding: 32px;
  border-radius: 15px;
  padding-top: 48px;
  background-image: url('{{obrazok}}');
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 500px;
  background-position-x: right;
}

.contact-section__official-adress .project-title{
    margin-bottom: 32px;
}

.contact-section__official-adress .contact-title{
  margin-bottom: 8px;  
}