<link rel="stylesheet" href="contact-official-address.css">
<link rel="stylesheet" href="../../../style.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <div class="contact-section__official-adress">
        <h3>Implementačná agentúra Ministerstva práce, sociálnych vecí a rodiny SR</h3>
        <p><b><i class="fas fa-map-marker-alt"></i> Adresa sídla:</b> Špitálska 25, 27, 814 55 Bratislava</p>
        <p><b><i class="fas fa-map-marker-alt"></i> Doručovacia adresa:</b> Nevädzová 5, 821 01  Bratislava</p>
        <p><b>Kontakt:</b> npbokku@ia.gov.sk</p>
    </div>