<link rel="stylesheet" href="contact-official-address.css">
<link rel="stylesheet" href="../../../style.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<div class="contact-section__official-adress">
    <h3 class="contact-title">{{nadpis|raw}}</h3>
    <h3 class="project-title">{{nazov_projektu|raw}}</h3>
    <p><b><i class="fas fa-map-marker-alt"></i> Adresa sídla:</b> {{adresa_sidla|raw}}</p>
    <p><b><i class="fas fa-map-marker-alt"></i> Doručovacia adresa:</b> {{dorucovacia_adresa|raw}}</p>
    <p>{{kontakt_email|raw}}</p>
</div>
