<link rel="stylesheet" href="contact-official-address.css">
<link rel="stylesheet" href="../../../style.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<!-- HTML - to copy -->
<section class="ia-contact-section__official-adress">
    <h3 class="contact-title">{{nadpis|raw}}</h3>
    <p><b><i class="fas fa-map-marker-alt"></i> {{druh_adresy|raw}}:</b> {{adresa_sidla|raw}}</p>
 	<p class='{{zobraz_email}}'><b><i class="fas fa-envelope"></i> Email:</b> {{email|raw}}</p>
     <div class="ia-divider__wrapper">
        <hr class="ia-divider">
    </div>
    <div class="add-info-text">
        {{add_info|raw}}
    </div>
</section>
<!-- HTML - to copy end -->