a.ia-scroll-up{
    --offset: 50px; 
  
    position: fixed;  
    /*
    margin-right:10px; 
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    */
    
    /* visual styling */
    text-decoration: none;
    padding: 12px;
    font-family: sans-serif;
    border-radius: 100px;
    white-space: nowrap;
    right: 14px;
    bottom: 14px;
    width: 48px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    background: var(--background-light-color);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: .8;
    transition: opacity .4s ease-in-out;
    flex-direction: column;
}

a.ia-scroll-up:hover{
    opacity: 1;
}

a.ia-scroll-up i{
		transition: 0.4s ease-in-out;
}

a.ia-scroll-up:hover i{
    transform: translatey(-2px)
}

a.ia-scroll-up .ia-scroll-up__logo{
		margin-top: 8px;
    width: 50px;
}