.table {
	width: 100%;
	border: 1px solid #eee;
}
.table-header {
	display: flex;
	width: 100%;
	background: #000;
	padding: 18px 0;
}
.table-row {
	display: flex;
	width: 100%;
	padding: 18px 0;
}
.table-row:nth-of-type(odd) {
	background: #eee;
}
.table-data, .header__item {
	flex: 1 1 20%;
	text-align: center;
}
.header__item {
	text-transform: uppercase;
	color: white;
}