<section class="ia-custom-section ia-image-banner">
    <h2 class="ia-image-banner__title">{{nadpis|raw}}</h2>
</section>

<style>
    .ia-image-banner{
        background-size: cover;
        position: relative;
        background: var(--gradient-color);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 156px;
    }

    .ia-image-banner .ia-image-banner__title{
        font-weight: 700;
        padding: 24px;
        font-size: 40px;
        text-align: center;
        z-index: 1;
      	color: white;
        margin-bottom: 0;
    }

    @media (min-width: 600px) {
        .ia-image-banner .ia-image-banner__title{
            padding: 32px;
            font-size: 56px;
        }
    }
</style>