:root {
    --primary-color: #E60000;
    --secondary-color: #E6BF00;
    --third-color: #404040;

    --text-color: #222;
    --headline-color: #222;

    --gradient-color: linear-gradient(90deg, rgba(230,0,0,1) 0%, rgba(230,191,0,1) 100%);
    --gradient-color-45:linear-gradient(45deg, rgba(230,0,0,1) 0%, rgba(230,191,0,1) 100%);
}