.ia-image-item{
    position: relative;
    margin-top: 32px;
    height: 100%;
}

.ia-image-item:hover .ia-image-item__image{
    border: 8px solid white;
}

.ia-image-item .ia-image-item__image-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: -56px;
}

.ia-image-item .ia-image-item__image{
    border-radius: 50%;
    width: 144px;
    height: 144px;
    object-fit: cover;
    border: 14px solid white;
    transition: border 0.2s ease-in-out;
}

.ia-image-item .ia-image-item__title-wrapper{
    box-sizing: border-box;
    width: 100%;
    background: #F8F8F8;
    padding-top: 72px;
    padding-bottom: 32px;
    text-align: center;
    border-radius: 15px;
    padding-inline: 24px;
    height: calc(100% - 130px);
}

.ia-image-item .ia-image-item__title{
    font-size: 28px;
    margin: 0;
    font-weight: 700;
    color: var(--headline-color);
    font-size: 22px;
    line-height: 1.4em;
}

.ia-image-item .ia-image-item__text{
    color: var(--text-color);
    margin-top: 8px;
    margin-bottom: 0;
}