.ia-image-item{
    position: relative;
    margin-top: 32px;
    height: 100%;
}

.ia-image-item:hover .ia-image-item__image,
.ia-image-item:focus-within .ia-image-item__image{
    transform: scale(1.1);
    outline: 8px white solid;
}

.ia-image-item .ia-image-item__image-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: -56px;
}

.ia-image-item .ia-image-item__image{
    border-radius: 50%;
    width: 124px;
    height: 124px;
    object-fit: cover;
    outline: 14px white solid;
    transition: 0.2s ease-in-out;
}

.ia-image-item .more-info-text{
    background-color:#FFFFFF;
    border-top: none;
    padding: 8px;
    border-radius: 15px;
    transition: 0.4s ease-in-out;
    width: 100%;
}

.ia-image-item .more-info-text .more-info-icon{
    color: var(--ia-primary-color);
    margin-right: 8px;
    font-size: 16px;
}
.ia-image-item .ia-image-item__title-wrapper{
    box-sizing: border-box;
    width: 100%;
    background: #F8F8F8;
    padding-top: 72px;
    padding-bottom: 48px;
    border-radius: 15px;
    padding-inline: 24px;
    height: calc(100% - 130px);
    overflow: hidden;
}

.ia-image-item .ia-image-item__title{
    font-size: 28px;
    margin: 0;
    font-weight: 700;
    color: var(--headline-color);
    font-size: 22px;
    line-height: 1.4em;
    display: flex;
    align-items: center;
}

.ia-image-item .ia-image-item__text{
    color: var(--text-color);
    margin-top: 8px;
    margin-bottom: 0;
}
