<link rel="stylesheet" href="feature-item.css">
<script src="feature-item-aria.js"></script>
<!-- ITEM TEMPLATE -->
<div class="col-12 col-md-6 col-lg-4">
    <article class="ia-image-item more-info-{{item.more_info}}">
        <div class="ia-image-item__image-wrapper">
            <img 
                class="ia-image-item__image" 
                src="{{item.image}}" 
                alt="{{item.title}}">
        </div>
        <div class="ia-image-item__title-wrapper">
            <h2 class="ia-image-item__title">
                {{item.title}}
            </h2>
            <p class="ia-image-item__text">
                {{item.text}}
            </p>
                <details class="more-info-details">
                    <summary class="more-info-summary" aria-expanded="false">
                        <span class="visually-hidden">
                            {{item.more_info_button_text}}
                        </span>
                    </summary>
                    <div class="more-info-text">
                        {{item.more_info_text|raw}}
                    </div>
                </details>
        </div>
    </article>
</div>