<link rel="stylesheet" href="../../style.css">


<div class="ia-date-hide-comp" data-endDate="2022-12-01">
    <div class="ia-job-position">
        <div class="ia-job-position__text">
            <h2>Kontrolór/ kontrolórka v národnom projekte Podpora a zvyšovanie kvality terénnej sociálnej práce (NP TSP II.)</h2>
        </div>
        <div class="ia-job-position__action">
            <button class="ia-btn ia-btn-primary"><a href="ia-job-positon__link">Zobraziť</a></button>
        </div>
    </div>
</div>

<div class="ia-date-hide-comp" data-endDate="2024-12-01">
    <div class="ia-job-position">
        <div class="ia-job-position__text">
            <h2>Kontrolór/ kontrolórka v národnom projekte Podpora a zvyšovanie kvality terénnej sociálnej práce (NP TSP II.)</h2>
        </div>
        <div class="ia-job-position__action">
            <button class="ia-btn ia-btn-primary"><a href="ia-job-positon__link">Zobraziť</a></button>
        </div>
    </div>
</div>

<div class="ia-date-hide-comp" data-endDate="2024-12-01">
    <div class="ia-job-position">
        <div class="ia-job-position__text">
            <h2>Kontrolór/ kontrolórka v národnom projekte Podpora a zvyšovanie kvality terénnej sociálnej práce (NP TSP II.)</h2>
        </div>
        <div class="ia-job-position__action">
            <button class="ia-btn ia-btn-primary"><a href="ia-job-positon__link">Zobraziť</a></button>
        </div>
    </div>
</div>

<style>

    .ia-job-position{
        background-color: silver;
        padding: 32px;
        border-radius: 15px;
        border-top: var(--primary-color) 5px solid;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
        gap: 24px;
    }

    .ia-job-position__text{
        flex-basis: 600px;
        flex-grow: 1;
    }
</style>


<script>
    const dateHideCompSele = '.ia-date-hide-comp';
    const dateHideStartDateAtt = 'data-startDate';
    const dateHideEndDateAtt = 'data-endDate';
    const hideClass = 'd-none';

    const hideElems = document.querySelectorAll(dateHideCompSele);
    hideElems.forEach(element => {
        const startDate = new Date(element.getAttribute(dateHideStartDateAtt));
        const endDate = new Date(element.getAttribute(dateHideEndDateAtt));
        const currentDate = Date.now()

        if((currentDate > endDate)){
            element.style.display = 'none';
        }
    });
</script>
