<link rel="stylesheet" href="../../style.css">


<!-- HTML ITEM - START -->
<div class="ia-date-hide-comp" data-endDate="{{date_end}}">
    <p class="ia-date-hide-comp__time">Ponuka platná do : <b>{{date_end}}</b></p>
    <div class="ia-job-position">
        <div class="ia-job-position__text">
            <h3>{{text|raw}}</h3>
        </div>
        <div class="ia-job-position__action">
            <a class="ia-btn ia-btn-primary" href="{{button_link}}">{{button_text|raw}}</a>
        </div>
    </div>
</div>
<!-- HTML ITEM - END -->

<div class="ia-date-hide-comp" data-endDate="2024-12-01">
    <div class="ia-job-position">
        <div class="ia-job-position__text">
            <h3>Kontrolór/ kontrolórka v národnom projekte Podpora a zvyšovanie kvality terénnej sociálnej práce (NP TSP II.)</h3>
        </div>
        <div class="ia-job-position__action">
            <button class="ia-btn ia-btn-primary"><a href="ia-job-positon__link">Zobraziť</a></button>
        </div>
    </div>
</div>

<div class="ia-date-hide-comp" data-endDate="2024-12-01">
    <div class="ia-job-position">
        <div class="ia-job-position__text">
            <h3>Kontrolór/ kontrolórka v národnom projekte Podpora a zvyšovanie kvality terénnej sociálnej práce (NP TSP II.)</h3>
        </div>
        <div class="ia-job-position__action">
            <a class="ia-btn ia-btn-primary" href="ia-job-positon__link">Zobraziť</a>
        </div>
    </div>
</div>

<!-- CSS ITEM - START -->
<style>
    .ia-job-position{
        background-color: #F8F8F8;
        padding: 48px;
        padding-inline: 30px;
        padding-left: 60px;
        border-radius: 15px;
        border-top: var(--primary-color) 12px solid;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
        gap: 80px;
    }

    .elementor-editor-active .ia-date-hide-comp{
        display: block !important;
    }

    .elementor-editor-active .ia-date-hide-comp__time{
        display: block;
    }

    .ia-date-hide-comp__time{
        display: none;
    }


    .ia-job-position__text{
        flex-basis: 600px;
        flex-grow: 1;
    }

    .ia-job-position__text h3{
        font-weight: 400;
    }

    .ia-job-position__text h3{
        font-size: 20px;
    }

    @media (max-width: 768px) {
        .ia-job-position{
            padding: 30px;
            gap: 24px;
        }

        .ia-job-position .ia-job-position__text{        
            text-align: center;
        }
    }


    /* REMOVE AFTER */
        .ia-job-position .ia-job-position__text h3{
            font-family: "Roboto Condensed", sans-serif;
            font-size: 19.2px;
            line-height: 28.8px;
        }
    /* REMOVE AFTER - end */
</style>
<!-- CSS ITEM - END -->

<!-- SCRIPT - START -->
<script>
    const dateHideCompSele = '.ia-date-hide-comp';
    const dateHideStartDateAtt = 'data-startDate';
    const dateHideEndDateAtt = 'data-endDate';

    const hideElems = document.querySelectorAll(dateHideCompSele);
    hideElems.forEach(element => {
        const startDate = new Date(element.getAttribute(dateHideStartDateAtt));
        const endDate = new Date(element.getAttribute(dateHideEndDateAtt));
        const currentDate = Date.now()

        if((currentDate > endDate)){
            element.style.display = 'none';
        }
    });
</script>
<!-- SCRIPT - END -->
