.ia-link-arrow{
    color: var(--ia-primary-color);
    text-decoration: none !important;
    border: none;
}

.ia-link-arrow:hover .ia-link-arrow__icon{
    margin-left: 16px;
}

.ia-link-arrow:hover .ia-link-arrow__text{
    text-shadow: 0.5px 0 0 var(--ia-primary-color);
}

.ia-link-arrow .ia-link-arrow__icon{
    margin-left: 8px;
    transition: margin .4s ease-in-out;
}