<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<section class="ia-custom-section ia-about-us">
    <div class="row ia-about-us__wrapper">
        <div class="col-md-4 ia-about-us__image-wrapper">
            <img class="ia-about-us__image" src="{{image}}" alt="">
        </div>
        <div class="col-md-8 ia-about-us__text-container">
            <p class="ia-about-us__subtitle">{{subtext|raw}}</p>
            <h2 class="ia-about-us__title">{{title|raw}}</h2>
            <p class="ia-about-us__text">{{description|raw}}</p>
            <a href="{{button_link}}"><button class="ia-btn ia-btn-primary">{{button_text}}</button></a>
        </div>
    </div>
</section>

<style>
    .ia-about-us{
        padding-top: 56px;
        padding-bottom: 56px;
        padding-inline: 12px;
    }

    .ia-about-us .ia-about-us__wrapper{
        background: #E8E8E880;
        padding-inline: 18px;
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 30px;
    }

    .ia-about-us .ia-about-us__text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ia-about-us .ia-about-us__image{
        border-radius: 50%;
        width: 380px;
        height: 380px;
        object-fit: cover;
        margin-bottom: 32px;
        aspect-ratio: 1 / 1;
    }

    .ia-about-us .ia-about-us__image-wrapper{
        display: flex;
        justify-content: center;
    }

    .ia-about-us .ia-about-us__title{
        font-size: 56px;
        margin-bottom: 8px;
        margin-top: 0px;
    }

    .ia-about-us .ia-about-us__text{
        margin: 0px;
    }

    .ia-about-us .ia-btn-primary{
        margin-top: 24px;
    }

    .ia-about-us .ia-about-us__subtitle{
        margin: 0;
        font-size: 18px;
        color: var(--primary-color);
        text-transform: uppercase;
    }

    @media only screen and (min-width: 768px) {
        .ia-about-us .ia-about-us__wrapper{
            padding-inline: 80px;
        }

        .ia-about-us{
            padding-inline: 0;
        }

        .ia-about-us__image{
            margin-bottom: 0;
        }
    } 
</style>