<section class="ia-custom-section ia-about-us">
    <div class="ia-about-us__wrapper">
        <img class="is-about-is__image" src="{{image}}" alt="">
        <div class="ia-about-us__text-container">
            <p class="ia-about-us__subtitle">{{subtext|raw}}</p>
            <h2 class="ia-about-us__title">{{title|raw}}</h2>
            <p class="ia-about-us__text">{{description|raw}}</p>
            <a href=""><button class="ia-btn ia-btn-primary">{{button_text}}</button></a>
        </div>
    </div>
</section>

<style>
    .ia-about-us{
        padding: 40px;
    }

    .ia-about-us .ia-about-us__wrapper{
        background: #E8E8E880;
        display: flex;
        padding-inline: 80px;
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 30px;
    }

    .ia-about-us .ia-about-us__text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ia-about-us .is-about-is__image{
        border-radius: 50%;
        width: 380px;
        height: 380px;
        object-fit: cover;
        margin-right: 80px;
    }

    .ia-about-us .ia-about-us__title{
        font-size: 56px;
        margin-bottom: 8px;
        margin-top: 0px;
    }

    .ia-about-us .ia-about-us__text{
        margin: 0px;
    }

    .ia-about-us .ia-btn-primary{
        margin-top: 24px;
    }

    .ia-about-us .ia-about-us__subtitle{
        margin: 0;
        font-size: 18px;
        color: #DA5E2C;
        text-transform: uppercase;
    }
</style>