<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="about-us.css">

<section class="ia-custom-section ia-about-us">
    <div class="row ia-about-us__wrapper">
        <div class="col-md-4 ia-about-us__image-wrapper">
            <img class="ia-about-us__image" src="{{image}}" alt="">
        </div>
        <div class="col-md-8 ia-about-us__text-container">
            <p class="ia-about-us__subtitle">{{subtext|raw}}</p>
            <h2 class="ia-about-us__title">{{title|raw}}</h2>
            <p class="ia-about-us__text">{{description|raw}}</p>
            <a href="{{button_link}}"><button class="ia-btn ia-btn-primary">{{button_text}}</button></a>
        </div>
    </div>
</section>