.contact-section__official-adress{
    margin-top: 32px;
    margin-bottom: 32px;
  background-color: white;
  border: 3px solid {{farba_projektu}};
  padding: 32px;
  border-radius: 15px;
  padding-top: 120px;
  background-image: url('{{obrazok}}');
  background-repeat: no-repeat;
  background-position-y: top;
  background-size: 200px;
  background-position-x: left;
}

.contact-section__official-adress .project-title{
    color: {{farba_projektu}};
}