<link rel="stylesheet" href="contact-person.css">
<link rel="stylesheet" href="../../../style.css">


<section class="ia-contact-persons">
    <h3 class="ia-contact-persons__title">Metodický tím</h3>
    <p>Kontakt : +421 2 20 431 417</p>
    <p>mailové adresy: meno.priezvisko@ia.gov.sk</p>
    <div class="ia-contact-persons__list">
        <!-- Item start -->
        <li class="ia-contact-persons__list-item">
            <span class="ia-name">&#x25CF; Mgr. Peter Adam</span>
            <span class="ia-tel">
                <a href="tel:">0918 591 337</a>
                <span> / </span>
                <a href="tel:">0918 591 337</a>
            </span>
            <a class="ia-email" href="mail">info@email.sk</a>
        </li>
        <!-- Item end -->

        <!-- Item start -->
        <li class="ia-contact-persons__list-item">
            <span class="ia-name">&#x25CF; Mgr. Peter Adam</span>
            <span class="ia-tel">
                <a href="tel:">0918 591 337</a>
                <span> / </span>
                <a href="tel:">0918 591 337</a>
            </span>
            <a class="ia-email" href="mail">info@email.sk</a>
        </li>
        <!-- Item end -->

        <!-- Item start -->
        <li class="ia-contact-persons__list-item">
            <span class="ia-name">&#x25CF; Mgr. Peter Adam</span>
            <span class="ia-tel">
                <a href="tel:">0918 591 337</a>
                <span> / </span>
                <a href="tel:">0918 591 337</a>
            </span>
            <a class="ia-email" href="mail">info@email.sk</a>
        </li>
        <!-- Item end -->
    </div>
</section>

<section class="ia-contact-persons">
    <h3 class="ia-contact-persons__title">Metodický tím</h3>
    <p>Kontakt : +421 2 20 431 417</p>
    <p>mailové adresy: meno.priezvisko@ia.gov.sk</p>
    <div class="ia-contact-persons__list">
        <!-- Item start -->
        <li class="ia-contact-persons__list-item">
            <span class="ia-name">&#x25CF; Mgr. Peter Adam</span>
            <span class="ia-tel">
                <a href="tel:">0918 591 337</a>
                <span> / </span>
                <a href="tel:">0918 591 337</a>
            </span>
            <a class="ia-email" href="mail">info@email.sk</a>
        </li>
        <!-- Item end -->
    </div>
</section>