.ia-contact-persons{
    margin-top: 32px;
    margin-bottom: 32px;
    padding-inline: 16px;
}

.ia-contact-persons .ia-contact-persons__title{
    position: relative;
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 600;
    margin-bottom: 0;
}

.ia-contact-persons .ia-contact-persons__title-wrapper{
    margin-bottom: 0;
}

.ia-contact-persons p{
    margin: 0;
    margin-bottom: 8px;
    font-weight: 400;
    color: var(--text-color);
}

.ia-contact-persons .ia-contact-persons__list{
    margin-top: 16px;
}

.ia-contact-persons .ia-contact-persons__list .ia-contact-persons__list-item{
    display: flex;
    padding-left: 18px;
    margin-bottom: 16px;
    flex-wrap: wrap;
    font-weight: 400;
}

.ia-contact-persons .ia-contact-persons__list-position{
    font-weight: 600;
    margin-bottom: 4px;
    margin-left: 4px;
}

.ia-contact-persons .ia-contact-persons__list .ia-name{
    flex-basis: 350px;
    padding-right: 24px;
    position: relative;
    color: var(--headline-color);
}

.ia-contact-persons .ia-contact-persons__list .ia-name::before{
    content: '•';
    left: -10px;
    position: absolute;
}
 
.ia-contact-persons .ia-contact-persons__list .ia-tel{
    flex-basis: 330px;
    padding-right: 16px;

}

.ia-contact-persons .ia-contact-persons__list .ia-email{
    flex-basis: 350px;
    padding-right: 16px;
}

.ia-contact-persons .ia-contact-persons__title::after{
    content: '';
    display: block;
    margin-inline: 0;
    margin-top: .3em;
    margin-bottom: .5em;
    height: 6px;
    background: var(--gradient-color);
    width: 100%;
}

@media only screen and (min-width: 978px) {
    .ia-contact-persons{
        padding-inline: 0;
    }
}