<link rel="stylesheet" href="cta-with-btn-hiding.css">
<link rel="stylesheet" href="../../style.css">

<div class="row">
    <div class="col-12">
        <div class="ia-cta-btn-hide-comp">
            <h3 class="ia-cta-btn-hide-comp__title">Text</h3>
            <!-- Button - start -->
            <div class="ia-btn-wrapper"">
                <a href="{{link}}">
                    <button class="ia-btn-comp ia-btn ia-btn-primary">{{button_text|raw}}</button>
                </a>
            </div>
            <!-- Button - end -->
        </div>
    </div>
</div>