


<div class="row">
    <div class="col-12">
        <div class="ia-cta-btn-hide-comp">
            <h2>Text</h2>
            <!-- Button - start -->
            <div class="ia-btn-wrapper" style="justify-content: {{zarovnanie}};">
                <a href="{{link}}">
                    <button style="margin-top:{{margin_top}}px; margin-bottom: {{margin_bottom}}px" class="ia-btn-comp ia-btn ia-btn-{{type}}">{{button_text|raw}}</button>
                </a>
            </div>
            <!-- Button - end -->
        </div>
    </div>
</div>