.ia-job-position{
    background-color: #F8F8F8;
    padding: 48px;
    padding-inline: 30px;
    padding-left: 60px;
    border-radius: 15px;
    border-top: var(--ia-primary-color) 12px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    gap: 80px;
}

.elementor-editor-active .ia-date-hide-comp{
    display: block !important;
}

.elementor-editor-active .ia-date-hide-comp__time{
    display: block;
}

.ia-date-hide-comp__time{
    display: none;
}


.ia-job-position__text{
    flex-basis: 600px;
    flex-grow: 1;
}

.ia-job-position__text h3{
    font-weight: 400;
}

.ia-job-position__text h3{
    font-size: 20px;
}

.ia-no-jobs-msg{
    margin-left: 20px;
    font-size: 20px;
    font-style: italic;
}

@media (max-width: 768px) {
    .ia-job-position{
        padding: 30px;
        gap: 24px;
    }

    .ia-job-position .ia-job-position__text{        
        text-align: center;
    }
}


/* REMOVE AFTER */
    .ia-job-position .ia-job-position__text h3{
        font-size: 19.2px;
        line-height: 28.8px;
    }
/* REMOVE AFTER - end */